@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Code', monospace;
}

body {
    background: #17262e;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 35px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;
    scale: 1.1;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    animation: show-content 1.5s linear forwards;
}


.home-info h1 {
    font-size: 50px;
    font-weight: 600;
    animation: display-text 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

.home-info h2 {
    display: inline-block;
    font-size: 25px;
    margin-left: 0px;
    opacity: 0;
    animation: display-text 1s ease forwards;
    animation-delay: 2.4s;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation-delay:calc(.1s * var(--i)) ;
}

@keyframes display-text {
    100%{
        opacity: 100%;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear forwards;
}

@keyframes fill-text {
    10%{
        width: 0%;
        border-right: 2px solid #7cf03d;
    }
    
    70%,
    99%{
        width: 100%;
        border-right: 2px solid #7cf03d;
    }
    
    100% {
        width: 100%;
        border-right: hidden;
    }
}

.home-info p {
    font-size: 15px;
    margin: 10px 0 25px;
}

.home-info .p1 {
    animation: display-text 1s ease forwards;
    opacity: 0;
    animation-delay: 3s;
}

.home-info .p2 {
    animation: display-text 1s ease forwards;
    opacity: 0;
    animation-delay: 3.6s;
}

.home-info .btn-sci {
    display: block;
    align-items: center;
    animation: display-text 0.8s ease forwards;
    animation-delay: 4.6s;
    opacity: 0; 
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #0a5b8e;
    border: 3.5px solid #0a5b8e;
    border-radius: 40px;
    box-shadow: 0 0 10px #0a5b8e;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #fff;
    box-shadow: none;
    scale: 1.1;
}

.home-info .btn-sci .sci {
    display: inline-flex;
    list-style: none;
}
.home-info .btn-sci .sci .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    color: #17262e;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.home-info .btn-sci .sci .name {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px, 8px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.801);
    opacity: 0;
    font-weight: 400;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.home-info .btn-sci .sci .name::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.home-info .btn-sci .sci .icon:hover .name {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.home-info .btn-sci .sci .icon:hover span,
.home-info .btn-sci .sci.icon:hover .name {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.home-info .btn-sci .sci .github:hover,
.home-info .btn-sci .sci .github:hover .name,
.home-info .btn-sci .sci .github:hover .name::before{
    background: #333333;
    color: #ffffff;
    scale: 1.2;
}

.home-info .btn-sci .sci .twitter:hover,
.home-info .btn-sci .sci .twitter:hover .name,
.home-info .btn-sci .sci .twitter:hover .name::before{
    background: #1da1f2;
    color: #ffffff;
    scale: 1.2;
}

.home-info .btn-sci .sci .linkedin:hover,
.home-info .btn-sci .sci .linkedin:hover .name,
.home-info .btn-sci .sci .linkedin:hover .name::before{
    background: #0a5b8e;
    color: #ffffff;
    scale: 1.2;
}

.home-info .btn-sci .sci .facebook:hover,
.home-info .btn-sci .sci .facebook:hover .name,
.home-info .btn-sci .sci .facebook:hover .name::before{
    background: #1877f2;
    color: #ffffff;
    scale: 1.2;
    
}

.home-info .btn-sci .sci .instagram:hover .name::before{
    background: #ffa724;
    color: #ffffff;
}

.home-info .btn-sci .sci .instagram:hover,
.home-info .btn-sci .sci .instagram:hover .name{
    color: #ffffff;
    background: #d6249f;
    scale: 1.2;
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
    );
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background: #0a5b8e;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display-text 1.6s ease forwards;
    opacity: 0;
    animation-delay: 1.6s;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;

}

.home-img .img-box::after{
    animation-delay: -2.5s;
}

.home-img .img-box .img-item {
    width: 100%;
    height: 100%;
    background: #17262e;
    border-radius: 50%;
    display: flex;
    z-index: 1;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    margin-left: -80px;
    display: block;
    width: 85%;
    margin-top: -120px;
    object-fit: cover;
    scale: 1.2;
    transition: .4s ;
}

.home-img .img-box .img-item img:hover{
    scale: 1.22;
}

.bars-animation {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    height: 100%;
    width: 100%;
    background:linear-gradient(#3e6c85 -30%,#17262e,#69da35b2 160%);
    transform: translateY(-100%);
    border-radius: 50%;
    opacity: 90%;
    animation: show-bars 1s ease-out forwards; 
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    50% {
        transform: translateY(0%);
        border-radius: 50%;
    }

    50%,
    85% {
        transform: translateY(0%);
    }
    
    100% {
        transform: translateY(0%);
        border-radius: 0%;
    }
}